* {
    margin: 0;
    padding: 0;
}

body {
    background-color: slategray;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    background-color:steelblue;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    border-radius: 5px;
}

pre{
    margin-top: 1.5vh;
    /*indent*/
    margin-left: 2vw;
}

h2{
    margin-bottom: 3px;
}

/* span for code that puts it in a panel as long as the longest line */

pre{
    padding: auto;
    background-color: lightgray;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
}


code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


footer{
    background-color: #231161;
    color: #C99700;
    text-align: center;
    font-weight: 500;
    padding: 2px;
}



.algorithm{
    margin-left: 1vw;
    margin-bottom: 2vh;
}